@charset "UTF-8";

/* Commissioner Font */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #212121;
    color: #FFFFFF;
    font-family: Inter, Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 min(50px, 5%) 0 min(50px, 5%);
}

#code-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#code-container span {
    font-family: Commissioner, Arial, sans-serif;
    font-size: clamp(3rem, 20vw, 6rem);
    font-weight: 500;
}

#code-container img {
    width: 20vw;
    max-width: 80px;
    margin-top: 10px;
}

p {
    font-weight: 200;
    font-size: clamp(1rem, 5vw, 1.3rem);
    margin-top: 10px;
    text-align: center;
}

p:last-of-type {
    margin-top: 30px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 160px;
    background-color: #2AEA73;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 30px;
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

a:hover {
    background-color: #FFFFFF;
}

a:hover .material-symbols-outlined {
    transform: translateX(-5px);
}

a .material-symbols-outlined {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    transition: transform 0.075s ease-out;
}

@media screen and (width <= 480px) {
    #code-container {
        margin-bottom: 30px;
    }

    a {
        margin-top: 60px;
    }
}