#theme-container {
    display: block;
    width: 45px;
    height: 45px;
    float: right;
    margin: 20px 20px 0 0;
}

#theme-button:hover + #theme-tooltip {
    transform: translate(-90px, 0) scale(1);
}

#theme-tooltip {
    transform-origin: 75% 0%;
    transform: translate(-90px, -30px) scale(0);
}

#main-container {
    display: block;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 17vh;
}

#logo {
    display: block;
    width: 220px;
    margin: 0 auto;
}

h1 {
    font-family: Commissioner, Arial, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    margin-top: 40px;
    transition: color 0.1s ease-out;
}

body.dark h1 {
    color: #FFFFFF;
}

body.light h1 {
    color: #181818;
}

p {
    display: block;
    font-family: Inter, Arial, sans-serif;
    font-size: 1.3rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    transition: all 0.1s ease-out;
}

body.dark p {
    color: #FFFFFF;
    font-weight: 200;
}

body.light p {
    color: #181818;
    font-weight: 300;
}

#login-button {
    display: block;
    margin: 60px auto 0 auto;
    border: none;
    border-radius: 0.5rem;
    width: 260px;
    height: 45px;
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #2AEA73;
    transition: all 0.1s ease-out;
}

body.dark #login-button:hover {
    background-color: #FFFFFF;
}

body.light #login-button:hover {
    background-color: #181818;
    color: #FFFFFF;
}