@charset "UTF-8";

/* Commissioner Font */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.2s ease-out;
}

body.dark {
    background-color: #212121;
}

body.light {
    background-color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

body.dark::-webkit-scrollbar-thumb {
    background-color: #ffffff32;
    border: 3px solid #212121;
}

body.light::-webkit-scrollbar-thumb {
    background-color: #181818b2;
    border: 3px solid #ffffff;
}

body.dark::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff5d;
}

body.light::-webkit-scrollbar-thumb:hover {
    background-color: #181818da;
}

::-webkit-scrollbar-button {
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body.dark::-webkit-scrollbar-button {
    border: 3px solid #212121;
}

body.light::-webkit-scrollbar-button {
    border: 3px solid #FFFFFF;
}

body.dark::-webkit-scrollbar-button:single-button:decrement {
    background-image: url('../img/roll-arrow-up-dark.svg');
}

body.light::-webkit-scrollbar-button:single-button:decrement {
    background-image: url('../img/roll-arrow-up-light.svg');
}

body.dark::-webkit-scrollbar-button:single-button:increment {
    background-image: url('../img/roll-arrow-down-dark.svg');
}

body.light::-webkit-scrollbar-button:single-button:increment {
    background-image: url('../img/roll-arrow-down-light.svg');
}

#theme-container {
    position: relative;
}

#checkbox {
    display: none;
}

#theme-button {
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0.5rem;
    float: right;
    overflow: hidden;
    cursor: pointer;
}

#theme-button:hover + #theme-tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.075s ease-out 1.5s,
                opacity 0.075s ease-out 1.5s,
                background-color 0.2s ease-out,
                color 0.2s ease-out;
}

body.dark #theme-button {
    background-color: #181818;
}

body.light #theme-button {
    background-color: #ebebeb;
}

.theme-icons {
    position: relative;
    width: 90px;
    height: 45px;
    padding: 10.5px;
    transition: all 0.2s ease-out;
}

.theme-icons.no-transition {
    transition: none;
}

.moon, .sun {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    user-select: none;
}

.moon {
    left: 10.5px;
}

.sun {
    right: 10.5px;
}

.theme-icons .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

body.dark .theme-icons .material-symbols-outlined {
    color: #e6e6e6;
}

body.light .theme-icons .material-symbols-outlined {
    color: #181818;
}

#theme-tooltip {
    position: absolute;
    top: 55px;
    left: 50%;
    white-space: nowrap;
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    padding: 8px 10px;
    border-radius: 5px;
    opacity: 1;
    pointer-events: none;
    transition: transform 0.075s ease-out,
                opacity 0.075s ease-out,
                background-color 0.2s ease-out,
                color 0.2s ease-out;
    transition-delay: 0s;
}

body.dark #theme-tooltip {
    background-color: #FFFFFF;
    color: #000000;
}

body.light #theme-tooltip {
    background-color: #181818;
    color: #FFFFFF;
}

#about-container {
    position: relative;
}

#about-button {
    width: 45px;
    height: 45px;
    font-family: Inter, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

body.dark #about-button {
    background-color: #181818;
    color: #FFFFFF;
}

body.light #about-button {
    background-color: #ebebeb;
    color: #000000;
}

#about-tooltip {
    position: absolute;
    top: 55px;
    left: 50%;
    transform-origin: top center;
    transform: translate(-50%, -30px) scale(0);
    white-space: nowrap;
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    padding: 8px 10px;
    border-radius: 5px;
    opacity: 1;
    pointer-events: none;
    transition: transform 0.075s ease-out,
                opacity 0.075s ease-out,
                background-color 0.2s ease-out,
                color 0.2s ease-out;
    transition-delay: 0s;
}

body.dark #about-tooltip {
    background-color: #FFFFFF;
    color: #181818;
}

body.light #about-tooltip {
    background-color: #181818;
    color: #FFFFFF;
}

#about-button:hover + #about-tooltip {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.075s ease-out 1.5s,
                opacity 0.075s ease-out 1.5s,
                background-color 0.2s ease-out,
                color 0.2s ease-out;
}

#about-dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 1000px;
    height: 80vh;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

body.dark #about-dialog {
    background-color: #181818;
    color: #FFFFFF;
}

#about-dialog header {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    width: 100%;
    height: 12%;
    padding: 20px 20px;
}

#about-dialog header h1 {
    font-size: 2rem;
    margin: 0 0 0 10px;
}

#about-dialog #close-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff3a;
    font-weight: 300;
    transition: background-color 0.075s ease-out,
                color 0.075s ease-out;
}

#about-dialog #close-icon:hover {
    background-color: #2b2b2b;
    color: #FFFFFF;
}

#about-dialog-content {
    overflow-y: auto;
    height: calc(88% - 3px);
    padding: 40px 50px;
}

#about-dialog-content::-webkit-scrollbar {
    width: 16px;
}

#about-dialog-content::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 8px;
    border: 4px solid #181818;
}

#about-dialog h1 {
    font-family: Inter, Arial, sans-serif;
    font-size: 1.8rem;
    text-align: start;
    margin: 60px 0 20px 0;
}

#about-dialog div h1:first-of-type {
    margin: 0px 0 20px 0;
}

#about-dialog p {
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.8rem;
    margin: 0;
}

#about-dialog img {
    display: block;
    width: 400px;
    border-radius: 10px;
    margin: 30px auto 0 auto;
    box-shadow: 0 5px 15px 0 #00000042;
}

#about-dialog a {
    color: #2AEA73;
}

#about-dialog::backdrop {
    background-color: #00000091;
    backdrop-filter: blur(3px);
}